.place__title {
    grid-area: title;
    align-self: end;
    justify-self: start;
    font-size: 72px;
    line-height: 76px;;
    font-weight: 900;
    margin: 0;
}

@media screen and (max-width: 1023px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
        letter-spacing: 1px;
    }
}

@media screen and (max-width: 767px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
        padding-left: 16px;
        padding-right: 16px;
        letter-spacing: 0px;
    }    
}