.page {
    width: 100%;
    min-width: 320px;
    margin: auto;
    padding-top: 28px;
    display: grid;
    grid-template-columns: 28px minmax(928px,1184px) 28px;
    grid-template-areas:
    ". header ."
    ". main ."
    ". footer .";
    justify-content: center; 
    font-family: 'Inter', 'Arial', sans-serif;
    color: #fff;
    background-color: #2A2C2F;
}


@media screen and (max-width: 1279px) {
    .page {
        grid-template-columns: minmax(24px, 48px) minmax(720px, 927px) minmax(24px, 48px);
        grid-template-areas:
        ". header ."
        "main main main"
        ". footer .";
    }
}

@media screen and (max-width: 1023px) {
    .page {
        grid-template-columns: minmax(16px, 24px) minmax(618px, 719px) minmax(16px, 24px);
    }
}

@media screen and (max-width: 767px) {
    .page {
        grid-template-columns: 16px minmax(288px, 617px) 16px;
        padding-top: 16px;
    }
}

