.cover__subtitle {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    margin: 0;
    max-width: 380px;
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        max-width: 290px;
    }
}
