.place__paragraph-p{
    font-size: 18px;
    line-height: 163%;
    font-weight: 400;
    margin: 0;
    padding-bottom: 26px;
}

.place__paragraph-p:last-child {
    padding-bottom: 0;
}

@media screen and (max-width: 767px) {
    .place__paragraph-p {
        font-size: 16px;
    }
}