.footer__copyright {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
    margin: 0;
    margin-left: auto;
}

@media screen and (max-width: 767px) {
    .footer__copyright {
        margin-left: 0;
    }    
}